*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "微软雅黑";
}
#up{
	width: 100%;
	height: 120px;
	background-color: #dd7107;
}
.up_inner{
	width: 990px;
	height: 120px;
	margin: 0 auto;
}
.logo{
	width: 184px;
	height: 75px;
	float: left;
	margin-top: 25px;
}
.search{
	width: 410px;
	height: 120px;
	float: left;
	position: relative;
	margin-left: 50px;
}
.form-control{
	width: 400px;
	height: 36px;
	float: left;
	margin-top: 45px;
}
.btn{
	width: 80px;
	height: 36px;
	position: absolute;
	float: left;
	left: 320px;
	font-size: 16px;
	margin-top: 45px;
}
.login{
	width: 340px;
	height: 120px;
	float: left;
}
.login ul{
	margin-left: 10px;
}
.login ul li{
	font-weight: bold;
	list-style: none;
	width: 66px;
	height: 30px;
	float: left;
	margin-top: 48px;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
}
.login ul li a{
	color: #fff;
}
.login ul li a:hover{
	display: block;
	width: 66px;
	height: 30px;
	background-color: #bd6105;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
}
.nav{
	width: 100%;
	height: 76px;
}
.nav_inner{
	width: 990px;
	height: 76px;
	margin: 0 auto;
	position: relative;
}
.nav_main{
	width: 990px;
	height: 76px;
	float: left;
}
.nav_main>ul>li{
	width: 130px;
	height: 76px;
	text-align: center;
	line-height: 76px;
	list-style: none;
	float: left;
	font-size: 20px;
	font-weight: bold;
}
.nav_main>ul>li>a{
	text-decoration: none;
	color: #000;
	/*display: block;*/
}
.sort1{
	position: relative;
}
/*.sort_active{
	display: none;
}*/
.nav_main>ul>li>img{
	position: absolute;
	top: 35px;
	left: 110px;
}
.nav_main>ul>li>a:hover{
	color: #a1000e;
}
.nav_main>ul>li>a>span{
	color: #a1000e;
}
.nav_sort{
	width: 500px;
	height: 230px;
	position: absolute;
	position: relative;
	z-index: 10;
	left: 0px;
	top: 0px;
	display: none;
	background-color: #fff;
	box-shadow: 4px 4px 10px #97836d;
}
.nav_sort>ul{
	position: absolute;
	top: -10px;
}
.nav_sort>ul>li{
	height: 34px;
	list-style: none;
	font-size: 17px;
	margin-left: 35px;
}
.img2{
	position: absolute;
	left: 170px;
	top: 45px;
}
#title{
	width: 100%;
	height: 60px;
	background-image: url(../img/4.jpg);
}
.title_inner{
	width: 990px;
	height: 60px;
	margin: 0 auto;
	overflow: hidden;
}
.title_inner ul li{
	float: left;
	list-style: none;
	font-size: 19px;
	line-height: 60px;
}
.title_inner ul li a{
	color: #000;
	text-decoration: none;
}
.title_inner ul li a:hover{
	text-decoration: underline;
    color: #ff3232;
}
#main{
	width: 100%;
	height: 1150px;
	background: #fae8c8;
}
.main_down{
	width: 990px;
	height: 1150px;
	margin: 0 auto;
	overflow: hidden;
}
.main_d_c{
	width: 990px;
	height: 1150px;
}
.main_d_c>ul{
	width: 990px;
	height: 1150px;
}
.main_d_c>ul>li{
	list-style: none;
	width: 990px;
	height: 400px;
}
.main_d_up{
	width: 990px;
	height: 80px;
}
.main_d_up p{
	line-height: 80px;
	text-align: center;
	font-size: 26px;
}
.main_d_li1{
	margin-top: -50px;
}
.main_d_li2{
	margin-top: -50px;
}
.main_d_down{
	width: 990px;
	height: 330px;
}
.main_list{
	width: 990px;
	list-style: none;
}
.main_list>li{
	float: left;
	width: 232px;
	height: 330px;
	overflow: hidden;
}
.main_l_li{
	margin-left: 20px;
}
.main_l_li1{
	margin-left: 21px;
}
.main_d_img{
	width: 232px;
	height: 230px;
	float: left;
	position: relative;
	z-index: 5;
}
.main_d_C{
	width: 232px;
	height: 200px;
	float: left;
	position: relative;
	z-index: 4;
}
.main_d_C_up{
	width: 232px;
	height: 100px;
	float: left;
	background-color: #fff;
}
.main_d_C_down{
	width: 232px;
	height: 100px;
	float: left;
	position: relative;
	background-color: #eee;
}
.p1{
	padding-left: 10px;
	padding-top: 10px;
	font-size: 16px;
	font-family: "黑体";
	font-weight: bold;
}
.p2{
	padding-left: 10px;
	font-size: 12px;
	line-height: 10px;
}
.p3{
	padding-left: 10px;
	font-size: 13px;
	color: red;
	padding-top: 5px;
}
.p4{
	padding-left: 50px;
	padding-top: 20px;
	font-size: 15px;
}
.p5{
	padding-left: 50px;
	font-size: 15px;
}
.img5{
	display: block;
	position: absolute;
	top: 21px;
	left: 21px;
}
.img6{
	display: block;
	position: absolute;
	top: 51px;
	left: 21px;
}
#footer{
	width: 100%;
	height: 220px;
	background: #3f3a32;
}
.footer_inner{
	width: 990px;
	height: 220px;
	margin: 0 auto;
}
.f_left{
	width: 500px;
	height: 130px;
	float: left;
}
.f_right{
	width: 490px;
	height: 130px;
	float: left;
}
.f_left img{
	float: left;
	margin-top: 26px;
}
.f_left ul{
	float: left;
	margin-top: 27px;
}
.f_left ul li{
	list-style: none;
	color: #fff;
	font-size: 13px;
	line-height: 17px;
	padding-left: 40px;
	font-weight: bold;
	font-family: "微软雅黑";
}
.img7{
	display: block;
	margin-top: 32px;
	margin-left: -60px;
}
.img8{
	width: 120px;
	height: 46px;
	display: block;
	margin-left: 200px;
	margin-top: -82px;
}
.img9{
	display: block;
	margin-left: 370px;
	margin-top: -80px;
}
.f_right p{
	margin-left: -60px;
	padding-left: 30px;
	color: #fff;
	font-size: 13px;
	font-family: "微软雅黑";
	font-weight: bold;
	padding-top: 5px;
}
.f_b{
	width: 990px;
	height: 90px;
	float: left;
	border-top: 1px solid #444444;
}

.f_b_b{
	width: 800px;
	height: 50px;
	border-top: 1px solid #444444;
	margin: 0 auto;
	overflow: hidden;
}
.f_b_b ul{
	margin-left: 155px;
	margin-top: 8px;
}
.f_b_b ul li{
	list-style: none;
	float: left;
	color: #999999;
}
.f_b_b p{
	float: left;
	font-size: 12px;
	color: #999999;
	margin-left: 110px;
	padding-top: 1px;
}

